<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matcha</title>
    <link rel="stylesheet" href="../layout/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
   
</head>

<script>document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      
        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
      
          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
      
              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);
      
              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
      
            });
          });
        }
      });</script>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="/images/h.png" width="50" height="100">
        </a>
      </div>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/home"class="navbar-item">
           Feed
          </a>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
                <% if(status === true){%>
                  <div  class="button is-primary">
                    <strong>online</strong>
                  </div>
                  <% }%>
                  <% if(status === false){%>
                  <div class="button is-link" style="background-color:#ff0000;color:#fff;margin-bottom:1em">
                  
                        <strong>offline</strong>
                       
                  </div>
                  <% }%>
              <a href="/" class="button is-primary">
                <strong>Sign out</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div id='notif'>

    </div>
<body style="height:110vh;background: linear-gradient(#FD4D52, #892B8B);">
<script> 
var socket = io();
socket.on('show_notification', function (data) {
  showDesktopNotification(data.title, data.message, data.icon);
});</script>
<div id="room">
<div  class="wrapper">
    
    <div id="mario-chat">
       
        <div id="chat-window">
 
                        <div id="output">
                           
                            <% for(old of oldMessages){%>
   <p><strong><%= old.from%> : </strong><%=old.msg%></p>
                              <% }%>
            </div>
       
            <div id="feedback"></div>
           
        </div>
        
    <input hidden id="from" type="text" value='<%=from%>'/>
    <input hidden id="to" type="text" value='<%=to%>'/>
    <input hidden id="chatId" type="text" value='<%=chatId%>'/>
 
  
    <input style="text-align:center;background-color:white; color:#000;width:100%"id="message" type="text" placeholder="Message"/>
    <button class="btn btn-primary btn-block"class="button"id="send">Send</button>
    <!-- <script>   $('#send').click(function () {
     socket.broadcast.to(socketid).emit('message', 'for your eyes only');
  })</script> -->
  <!-- <script src="chats.js"></script>
  <input hidden id ="uname" type="text" value="<%= name%>"/>
  <script src="../public/notif.js"></script> -->
  
    </div>

     
        
</div>
</div>
<input hidden id ="uname" type="text" value="<%=name%>"/>
    <script src="chats.js"></script>
    <script src="notif.js"></script>
</body>
<footer>
    <div class="content has-text-centered">
        <p style="color:white;"><strong style="color:white;">Matcha</strong> by J.T.A.B <a href="https://github.com/BrandonSwanepoel/Matcha"></a></p>
    </div>
</footer>