
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matcha</title>
    <link rel="stylesheet" href="../layout/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<script>document.addEventListener('DOMContentLoaded', () => {

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  
    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
  
      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
  
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);
  
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
  
        });
      });
    }
  
  });</script>
         <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="/images/h.png" width="50" height="100">
            </a>
          </div>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
        
          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a href="/profile-page"class="navbar-item">
               Go back
              </a>
            </div>
        
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a href="/" class="button is-primary">
                    <strong>Sign out</strong>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <div id='notif'>

        </div>
   
<body style="height:200vh;background: linear-gradient(#FD4D52, #892B8B);">
<div  class="wrapper" >
  <h1 style="color: #fff;font-weight: 700;font-size: 3em;">Edit Profile</h1>
  <br>
  <hr>
    <form method="POST" action="/profile" enctype="multipart/form-data">
      <div style="text-align: center;" class="form-group">
          <label for="photo" class="label" class="col-md-3 control-label" style="color:white">Change Profile Picture</label>
          <div style="color:white" class="col-md-9">
            <input type="file" class="form-control" name="photo" id="photo"accept="image/*">
          </div>
        </div>

      <label class="label" style="color:white; ;">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="<%= name%>" name="name"></div>
   
      <div class="field">
        <label class="label" style="color:white; ;">Surname</label>
        <div class="control">
          <input class="input" type="text" placeholder="<%= surname%>" name="surname">
        </div>
      </div>
    <div class="field">
      <label class="label" style="color:white;">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" type="text" placeholder="<%= username%>" name="username">
          <span class="icon is-small is-left"><i class="fas fa-user"></i>
          </span><span class="icon is-small is-right"><i class="fas fa-check"></i>
          </span>
        </div>
        <p class="help is-success">This username is available</p>
    </div>
    <label class="label" style="color:white; ;">Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="<%= password%>" name="password">
    </div>
    <div class="field">
      <label class="label" style="color:white;">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" placeholder="<%= email%>" name="email">
    </div>
    <div class="field"><label class="label" style="color:white;">Age</label>
        <div class="control">
          <input class="input" type="text" placeholder="<%= age%>" name="age"></div>
    </div>
    <div class="field"><label class="label" style="color:white;">Gender</label>
        <div class="control">
            <div class="select">
              <select name="gender" placeholder="<%= gender%>">
              <option>Male</option>
              <option>Female</option>
            </select>
          </div>
        </div>

    </div>
    <div class="field"><label class="label" style="color:white;">Sexual preference</label>
        <div class="control">
            <div class="select">
              <select name="sp" placeholder="<%= sp%>">
              <option>Heterosexual</option>
              <option>Homosexual</option>
              <option>Bisexual</option>
            </select>
          </div>
        </div>
    </div>
    <div class="field"><label class="label" style="color:white;" type="text">Bio</label>
       <textarea class="textarea" placeholder="<%= bio%>" name="bio"></textarea>
    </div>
  </div>
      <div  class="control"><button class="btn btn-primary btn-block"type="submit" name="submit">Submit</button></div></a>
    </form>
</div>
<input hidden id ="uname" type="text" value="<%= username%>"/>
<script src="chats.js"></script>
<script src="notif.js"></script>
  <footer >
    <div class="content has-text-centered">
        <p style="color:white;"><strong style="color:white;">Matcha</strong> by J.T.A.B <a href="https://github.com/BrandonSwanepoel/Matcha"></a></p>
    </div>
  </footer>
</body>